:root {
  ---color-primary-01: hsl(259, 100%, 65%);
  ---color-primary-02: hsl(0, 100%, 67%);

  ---color-neutral-01: hsl(0, 0%, 100%);
  ---color-neutral-02: hsl(0, 0%, 94%);
  ---color-neutral-03: hsl(0,0%, 86%);
  ---color-neutral-04: hsl(0, 1%, 44%);
  ---color-neutral-05: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(---color-neutral-03);
}
#root {
  display: grid;
  font-family: 'Poppins', sans-serif;
  background-color: var(---color-neutral-01);
  margin: 4.5rem 1.5rem;
  border-radius: 20px 20px 100px 20px;
}
/* BirthDate.jsx component style */
.birth-date-container {
  display: flex;
  place-content: center;
  gap: 1rem;
  padding-top: 3rem;
}
.input-container {
  display: grid;
}
.label-style {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: var(---color-neutral-04);
}
.input {
  height: 3rem;
  width: 5rem;
  border-radius: 8px;
  border: none;
  margin-top: 0.3rem;
  outline: 1px solid var(---color-neutral-03);
  padding-left: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}
.error-msg {
  margin-top: 0.3rem;
  color: var(---color-primary-02);
  font-weight: 300;
  font-style: italic;
  font-size: 0.7rem;
}
/* Submit.jsx component style */
.submit-container {
  display: flex;
  place-content: center;
  align-items: center;
  margin: 2rem 1.5rem;
}
hr {
  position: absolute;
  border: none;
  border-top: 1px solid var(---color-neutral-03);
  width: 73%;
}
.arrow-container {
  z-index: 2;
  display: grid;
  height: 4rem;
  width: 4rem;
  border-radius: 50px;
  background-color: var(---color-primary-01);
  align-items: center;
  place-content: center;
}
.arrow {
  height: 1.8rem;
}
/* Age.jsx component style */
.age-container {
  margin: 2.5rem 1.5rem;
}
.age {
  font-style: italic;
  font-size: 3rem;
  font-weight: 800;
}